<% layout("/layout/boilerplate") %>
<body>
    <h1>All List</h1>
    <ul>
        <form method="GET" action="/listing/new">
            <button>create new listing</button>
        </form>
           <%for(let listing of allListing){%>
        <li><a href="/listing/<%= listing._id%>"><%=listing.title%></a></li>
        <%}%>
    </ul>
</body>

