<% layout("/layout/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="POST" action="/listing" novalidate  class="needs-validation" >
        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" class="form-control" required>
            <div class="valid-feedback"> Looks good!</div>
            <div class="invalid-feedback">enter valid title</div>
        </div>
   
        <div class="mb-2">
            <label for="description" class="form-label" >Description</label>
            <textarea name="listing[description]" class="form-control" required ></textarea>
            <div class="valid-feedback"> Looks good!</div>
            <div class="invalid-feedback">enter valid discription</div>
        </div>

        <div class="mb-2">
            <label for="image" class="form-label" >Image Link</label>
            <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control">
        </div>

        <div class="row">

            <div class="mb-2 col-md-4">
                <label for="price" class="form-label" >Price</label>
                <input name="listing[price]" placeholder="add price"  class="form-control" required>
                <div class="valid-feedback"> Looks good!</div>
                <div class="invalid-feedback">enter valid title</div>
            </div>

            <div class="mb-2 col-md-8">
                <label for="country" class="form-label" >Country</label>
                <input name="listing[country]" placeholder="add country name" type="text" class="form-control" required>
                <div class="valid-feedback">looks good!</div>
                <div class="invalid-feedback">please enter valid country</div>
            </div>
       
        </div>

       
    
        <div class="mb-2">
            <label for="location" class="form-label" >Location</label>
            <input name="listing[location]" placeholder="add location" type="text" class="form-control" required>
            <div class="valid-feedback">looks good!</div>
            <div class="invalid-feedback">please enter valid country</div>
        </div>

       
    <br>
    <button class="btn btn-dark add-btn">submit</button>
    
</form>
</div>
</div>

</body>
</html>