<% layout("/layout/boilerplate") %>
<div class="row">
    <h1 class="col-6 offset-3">SignUp on wonderlust</h1>
    <div class="col-6 offset-3" >
        <form method="POST" action="/signup" class="needs-validation" novalidate>
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="username" required>
                <div class="valid-feedback"> Looks good!</div>
                <div class="invalid-feedback">enter valid Username</div>
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="text" class="form-control" id="email" required>
                <div class="valid-feedback"> Looks good!</div>
                <div class="invalid-feedback">enter valid email</div>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="text" class="form-control" id="password" required>
                <div class="valid-feedback"> Looks good!</div>
                <div class="invalid-feedback">enter valid password</div>
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
 </div>